In [3]:
import pandas as pd
import numpy as np

In [10]:
kernel='C:/Users/miavila/Desktop/PREDICIONES/'
df=pd.read_excel(kernel + 'COMPILADO2.xlsx',sheet_name='HORA')
df=pd.DataFrame(df,columns=['FechaT','Operación','sumRecibidas','Predicción'])

In [11]:
df

                   FechaT  Operación  sumRecibidas  Predicción
0     2022-09-01 00:00:00  Biometria             0           0
1     2022-09-01 01:00:00  Biometria             0           0
2     2022-09-01 02:00:00  Biometria             0           0
3     2022-09-01 03:00:00  Biometria             0           0
4     2022-09-01 04:00:00  Biometria             0           0
...                   ...        ...           ...         ...
21835 2022-11-30 19:00:00     VIP PJ             1           1
21836 2022-11-30 20:00:00     VIP PJ             0           0
21837 2022-11-30 21:00:00     VIP PJ             0           0
21838 2022-11-30 22:00:00     VIP PJ             0           0
21839 2022-11-30 23:00:00     VIP PJ             0           0

[21840 rows x 4 columns]

In [12]:
df=df.assign(MesN=df.FechaT.dt.month   ,Dia_MesN=df.FechaT.dt.day    ,Dia_SemN=df.FechaT.dt.day_name())

In [13]:
df.assign(HORA=df.FechaT.dt.hour)

,FechaT,Operación,sumRecibidas,Predicción,MesN,Dia_MesN,Dia_SemN,HORA
0,2022-09-01 00:00:00,Biometria,0,0,9,1,Thursday,0
1,2022-09-01 01:00:00,Biometria,0,0,9,1,Thursday,1
2,2022-09-01 02:00:00,Biometria,0,0,9,1,Thursday,2
3,2022-09-01 03:00:00,Biometria,0,0,9,1,Thursday,3
4,2022-09-01 04:00:00,Biometria,0,0,9,1,Thursday,4
...,...,...,...,...,...,...,...,...
21835,2022-11-30 19:00:00,VIP PJ,1,1,11,30,Wednesday,19
21836,2022-11-30 20:00:00,VIP PJ,0,0,11,30,Wednesday,20
21837,2022-11-30 21:00:00,VIP PJ,0,0,11,30,Wednesday,21
21838,2022-11-30 22:00:00,VIP PJ,0,0,11,30,Wednesday,22
21839,2022-11-30 23:00:00,VIP PJ,0,0,11,30,Wednesday,23

In [46]:
#Calcular MAE

#Calcular el MAE para cada día

#agrupar los datos por día
df_dia = df.groupby(['Operación','MesN','Dia_MesN'],as_index=False)

#calcular el MAE para cada grupo
MAE_dia = df_dia.apply(lambda x: np.mean(np.abs(x['Predicción'] - x['sumRecibidas'])))

In [47]:
MAE_dia.rename(columns={None:'MAE'}, inplace=True)
MAE_dia

     Operación  MesN  Dia_MesN       MAE
0    Biometria     9         1  1.166667
1    Biometria     9         2  0.791667
2    Biometria     9         3  0.458333
3    Biometria     9         4  0.000000
4    Biometria     9         5  0.625000
..         ...   ...       ...       ...
905     VIP PJ    11        26  0.458333
906     VIP PJ    11        27  0.041667
907     VIP PJ    11        28  1.083333
908     VIP PJ    11        29  0.916667
909     VIP PJ    11        30  1.291667

[910 rows x 4 columns]

In [51]:
MAE_dia[MAE_dia['Operación']=='U_Persona_Natural']

             Operación  MesN  Dia_MesN         MAE
728  U_Persona_Natural     9         1  171.666667
729  U_Persona_Natural     9         2  174.833333
730  U_Persona_Natural     9         3   90.000000
731  U_Persona_Natural     9         4   28.791667
732  U_Persona_Natural     9         5  259.625000
..                 ...   ...       ...         ...
814  U_Persona_Natural    11        26   35.708333
815  U_Persona_Natural    11        27   46.916667
816  U_Persona_Natural    11        28   98.833333
817  U_Persona_Natural    11        29   78.750000
818  U_Persona_Natural    11        30   86.333333

[91 rows x 4 columns]

In [38]:
#Calcular MAE

#Calcular el MAE para cada día

#agrupar los datos por día
df_mes = df.groupby(['Operación','MesN'],as_index=False)

#calcular el MAE para cada grupo
MAE_mes = df_mes.apply(lambda x: np.mean(np.abs(x['Predicción'] - x['sumRecibidas'])))

In [43]:
MAE_mes.rename(columns={None:'MAE'}, inplace=True)
MAE_mes

                    Operación  MesN         MAE
0                   Biometria     9    0.438889
1                   Biometria    10    0.529570
2                   Biometria    11    0.468056
3                         CAV     9    0.593056
4                         CAV    10    0.579301
5                         CAV    11    0.537500
6                Conservacion     9   10.565278
7                Conservacion    10   12.462366
8                Conservacion    11    9.784722
9           Ejecutivo Premium     9    0.820833
10          Ejecutivo Premium    10    0.716398
11          Ejecutivo Premium    11    0.727778
12    Especializados Bloqueos     9    9.051389
13    Especializados Bloqueos    10    9.741935
14    Especializados Bloqueos    11   11.906944
15  Especializados Bloqueos F     9    6.888889
16  Especializados Bloqueos F    10    6.711022
17  Especializados Bloqueos F    11    7.031944
18   Moneda Extranjera - Home     9    3.347222
19   Moneda Extranjera - Home    10    2.784946
20   Moneda Extranjera - Home    11    4.712500
21    Persona Juridica - Home     9   10.277778
22    Persona Juridica - Home    10   11.927419
23    Persona Juridica - Home    11   14.945833
24          U_Persona_Natural     9  117.080556
25          U_Persona_Natural    10   83.305108
26          U_Persona_Natural    11   95.662500
27                     VIP PJ     9    1.063889
28                     VIP PJ    10    0.919355
29                     VIP PJ    11    0.865278

In [28]:
mae_dia.Operación

AttributeError: 'Series' object has no attribute 'Operación'

In [ ]:
#Calcular MAE

#Calcular el MAE para cada día

#agrupar los datos por día
df_dia = df.groupby('Dia_MesN')

#calcular el MAE para cada grupo
mae_dia = df_dia.apply(lambda x: np.mean(np.abs(x['pronostico'] - x['valor_real'])))

#Calcular el MAE para cada mes

#agrupar los datos por mes
df_mes = df.groupby('MesN')

#calcular el MAE para cada grupo
mae_mes = df_mes.apply(lambda x: np.mean(np.abs(x['pronostico'] - x['valor_real'])))

#Calcular RMSE

#Calcular el RMSE para cada día

#agrupar los datos por día
df_dia = df.groupby('dia')

#calcular el RMSE para cada grupo
rmse_dia = df_dia.apply(lambda x: np.sqrt(np.mean((x['pronostico'] - x['valor_real'])**2)))

#Calcular el RMSE para cada mes

#agrupar los datos por mes
df_mes = df.groupby('mes')

#calcular el RMSE para cada grupo
rmse_mes = df_mes.apply(lambda x: np.sqrt(np.mean((x['pronostico'] - x['valor_real'])**2)))

In [ ]:

#crea una función que itere entre dias y arroje al final una lista con el valor real, el pronostico, el MAE Y RMSE, TENIENDO EN CUENTA QUE SON 24 DATOS POR DIA

def calcular_MAE_RMSE(df):
    #inicializar listas para almacenar los resultados
    valor_real = []
    pronostico = []
    mae = []
    rmse = []
    
    #iterar sobre los días
    for dia in df['dia'].unique():
        #obtener los datos para el día actual
        df_dia = df[df['dia'] == dia]
        
        #calcular el MAE para el día actual
        mae_dia = np.mean(np.abs(df_dia['pronostico'] - df_dia['valor_real']))/len(df_dia)
        
        #calcular el RMSE para el día actual
        rmse_dia = np.sqrt(np.mean((df_dia['pronostico'] - df_dia['valor_real'])**2))/len(df_dia)
        
        #agregar los resultados a las listas
        valor_real.extend(list(df_dia['valor_real']))
        pronostico.extend(list(df_dia['pronostico']))
        mae.append(mae_dia)
        rmse.append(rmse_dia)
        
    #devolver los resultados en un dataframe
    df_resultados = pd.DataFrame({'valor_real': valor_real, 'pronostico': pronostico, 'mae': mae, 'rmse': rmse})
    return df_resultados

In [ ]:
#crear función que itere entre años y por separado tambien para años y arroje al final una lista con el valor real, el pronostico, el MAE Y RMSE, TENIENDO EN CUENTA QUE SON 12 DATOS POR AÑO

def calcular_MAE_RMSE_anio(df):
    #inicializar listas
    lista_valor_real = []
    lista_pronostico = []
    lista_mae = []
    lista_rmse = []
    
    #agrupar los datos por año
    df_anio = df.groupby('anio')
    
    #iterar sobre los grupos
    for nombre, grupo in df_anio:
        #calcular MAE
        mae = np.mean(np.abs(grupo['pronostico'] - grupo['valor_real']))/len(grupo)
        #calcular RMSE
        rmse = np.sqrt(np.mean((grupo['pronostico'] - grupo['valor_real'])**2))/len(grupo)
        #agregar los datos a las listas
        lista_valor_real.extend(grupo['valor_real'].tolist())
        lista_pronostico.extend(grupo['pronostico'].tolist())
        lista_mae.extend([mae]*len(grupo))
        lista_rmse.extend([rmse]*len(grupo))
    
    #crear dataframe con los datos
    df_resultados = pd.DataFrame({'valor_real':lista_valor_real, 'pronostico':lista_pronostico, 'mae':lista_mae, 'rmse':lista_rmse})
    
    return df_resultados

In [ ]:
#crea una función que itere entre dias y por separado tambien para meses y arroje al final una lista con el valor real, el pronostico, el MAE Y RMSE, TENIENDO EN CUENTA QUE SON 24 DATOS POR DIA

def calcular_MAE_RMSE(df):
    #inicializar listas
    lista_valor_real = []
    lista_pronostico = []
    lista_mae = []
    lista_rmse = []
    
    #agrupar los datos por día
    df_dia = df.groupby('dia')
    
    #iterar sobre los grupos
    for nombre, grupo in df_dia:
        #calcular MAE
        mae = np.mean(np.abs(grupo['pronostico'] - grupo['valor_real']))/len(grupo)
        #calcular RMSE
        rmse = np.sqrt(np.mean((grupo['pronostico'] - grupo['valor_real'])**2))/len(grupo)
        #agregar los datos a las listas
        lista_valor_real.extend(grupo['valor_real'].tolist())
        lista_pronostico.extend(grupo['pronostico'].tolist())
        lista_mae.extend([mae]*len(grupo))
        lista_rmse.extend([rmse]*len(grupo))
    
    #crear dataframe con los datos
    df_resultados = pd.DataFrame({'valor_real':lista_valor_real, 'pronostico':lista_pronostico, 'mae':lista_mae, 'rmse':lista_rmse})
    
    return df_resultados

#crear función que itere entre meses y por separado tambien para años y arroje al final una lista con el valor real, el pronostico, el MAE Y RMSE, TENIENDO EN CUENTA QUE SON 12 DATOS POR MES

def calcular_MAE_RMSE_mes(df):
    #inicializar listas
    lista_valor_real = []
    lista_pronostico = []
    lista_mae = []
    lista_rmse = []
    
    #agrupar los datos por mes
    df_mes = df.groupby('mes')
    
    #iterar sobre los grupos
    for nombre, grupo in df_mes:
        #calcular MAE
        mae = np.mean(np.abs(grupo['pronostico'] - grupo['valor_real']))/len(grupo)
        #calcular RMSE
        rmse = np.sqrt(np.mean((grupo['pronostico'] - grupo['valor_real'])**2))/len(grupo)
        #agregar los datos a las listas
        lista_valor_real.extend(grupo['valor_real'].tolist())
        lista_pronostico.extend(grupo['pronostico'].tolist())
        lista_mae.extend([mae]*len(grupo))
        lista_rmse.extend([rmse]*len(grupo))
    
    #crear dataframe con los datos
    df_resultados = pd.DataFrame({'valor_real':lista_valor_real, 'pronostico':lista_pronostico, 'mae':lista_mae, 'rmse':lista_rmse})
    
    return df_resultados